# eclipse
bin
.classpath
.project

# idea
out
*.ipr
*.iws
.idea

# gradle
build/
.gradle/
gradle/
gradlew
gradlew.bat

# other
eclipse
run
CREDITS-fml.txt
LICENSE-new.txt
MinecraftForge-Credits.txt
Paulscode IBXM Library License.txt
Paulscode SoundSystem CodecIBXM License.txt
README.txt
build.gradle
forge-1.10.2-12.18.1.2011-changelog.txt
